.allproducts{
    display: flex;
    flex-direction: column;
    width: 83%;
  padding: 10px;
 
}
.allproducts h1{
    font-size:50px;
    font-weight: 700;
    margin-left: 10px;
}
.allproducts .products{
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;
    transition: all 0.5s ease;
}
.products span{
    font-size: 20px;
}
