/* Updated CSS with hover effect */
.catsidebar .category img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.catsidebar {
    width: 15%; 
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.category {
    display: flex;
    align-items: center;
    border: 5px solid #E19898;
    padding: 10px 20px;
    flex-wrap: wrap;
    background-color: #E19888;
    margin-left: 0;
}

.catsidebar .category:hover {
    background-color: #F3CCFF;
    border: 5px solid #D09CFA;

}

.catsidebar .category h3 {
    font-size: 20px;
}
