.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    
    font-size: 20px;
}
.footer .p1{
display: flex;
flex-direction: row;
flex-wrap:wrap ;
justify-content: space-between;
gap:50px;
background-color: #173417;
padding:10px;
color:white;
}
.footer .p2{
color:black;
padding: 0;
margin: 0;
}
.footer .f1 img{
    width:150px;
    height:150px;
    margin-right: 10px;

}
.footer img{
    float: left;
}
.footer .f1{
    padding-top: 20px;
    width:30%;
    padding-left: 15px;

}
.footer .f2{
    padding-top: 20px;
    width:30%;
    padding-left: 15px;

}
.footer .f3{
    padding-top: 20px;
    width:30%;
    padding-left: 15px;

}
.footer svg{
    margin-top: 10px;
    height:40px;
    width:40px;
    margin-right: 10px;
}
.footer svg:hover{
    scale:1.2;
    border-radius: 50%;
    border: 2px solid #fff;
}