.bs {
    width: 100%;
    margin: 0;
  padding: 0;
  object-fit: fill;
  }
  
  .imagecont {
    background-color: black;
    display: flex;
    position: relative;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
  }
  
  .imagecont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .imagecont .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .imagecont h1 {
    font-size: 2.0rem;
    font-weight: 200;
    margin-bottom: 5px;
    width: 70%;
  }
  
  .imagecont span {
    font-size: 1.3rem;
    font-weight: 100;
    margin-bottom: 5px;
    width: 70%;
  }
  
  .imagecont button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease;
  }
  
  .imagecont button:hover {
    background-color: var(--col1);
    color: white;
  }
  
